<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/utils.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="nav-container1 flex center">
        <form action="/sign-up" method="get">
            <div class="nav-heading">
                <h1>CHOOSE ACCOUNT TYPE</h1>
            </div>
            <div class="nav-body flex center mt-3">
                <button>
                    <div class="nav-card mx-3 px-5 py-3">
                        <img src="/service-provider.png" alt="">
                        <h2 class="mt-1">Service Provider</h2>
                    </div>
                </button>
                <button>
                    <div class="nav-card mx-3 px-5 py-3">
                        <img src="/customer-2.png" alt="">
                        <h2 class="mt-1">Customer</h2>
                    </div>
                </button>
            </div>
        </form>
    </div>
    <div class="nav-container2"></div>
</body>
</html>