<footer class="py-3 mt-3">
    <div class="footer">
        <div class="social-links mt-3">
            <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
            <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
            <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
            <a href="#"><ion-icon name="logo-linkedin"></ion-icon></a>
            <a href="#"><ion-icon name="logo-youtube"></ion-icon></a>
        </div>
        <div class="web-info mt-2">
            <p>At SideHub, we're dedicated to connecting you with the best local service providers
             in your community. Our platform bridges the gap between users and local service providers, making
              it easier than ever to find the services you need. From home repairs to personal care, 
              SideHub is your trusted source for local solutions. Reach out to us at 
              sidehub@gmail.com or +911023456789, and follow us on @sidehub for updates and tips.</p>
        </div>
        <div class="quick-links-info mt-2">
            <h3>Quick Links</h3>
            <div class="quick-links flex space-between my-2">
                <div class="quick-link-block">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/home">About Us</a></li>
                    <li><a href="/home">Customer Support</a></li>
                </div>
                <div class="quick-link-block">
                    <li><a href="/services/electrician">Electrican</a></li>
                    <li><a href="/services/packers">Packers</a></li>
                    <li><a href="/services/food">Food</a></li>
                </div>
                <div class="quick-link-block">
                    <li><a href="/services/housekeeping">Housekeeping</a></li>
                    <li><a href="/services/beauty">Beauty</a></li>
                    <li><a href="/services/repair">Repair</a></li>
                </div>
                <div class="quick-link-block">
                    <li><a href="/services/plumber">Plumber</a></li>
                    <li><a href="/services/categories">Other</a></li>
                </div>
            </div>
        </div>
        <div class="copyright mt-3">© 2023 SideHub. All Rights Reserved.</div>
    </div>
</footer>
</body>
<script src="/js/index.js"></script>
</html>