<section class="sec-3 mt-3 flex space-between">
    <div class="card mt-3 px-1 py-2">
        <span class="card-icon">
            <ion-icon name="thumbs-up-outline"></ion-icon>
        </span>
            <h2 class="my-1">Connect with Experts</h2>
            <h5>Experience the convenience of connecting with local experts.</h5>
    </div>
    <div class="card mt-3 px-1 py-2">
        <span class="card-icon">
            <ion-icon name="shield-checkmark-outline"></ion-icon>
        </span>
            <h2 class="my-1">Connect with Trusty</h2>
            <h5>Connect with trusty professionals for all your service needs.</h5>
    </div>
    <div class="card mt-3 px-1 py-2">
        <span class="card-icon">
            <ion-icon name="people-outline"></ion-icon>
        </span>
            <h2 class="my-1">Connect with Helpers</h2>
            <h5>Connect with your friendly neighbor, always ready to lend a helping hand.</h5>
    </div>
</section>