<section class="sec-2 mt-2">
    <div class="category-sec grid py-3">
        <div>
            <span class="category-img flex center px-1 py-2">
                <form action="/services/electrician" method="get">
                <button class="service-btn"><img src="/electrician.png" alt=""></button> 
                </form>
            </span>
            <p class="flex center">Electrican</p>
        </div>
        <div>
            <span class="category-img flex center px-1 py-2">
                <form action="/services/packers" method="get">
                    <button class="service-btn"><img src="/packers.webp" alt=""></button>
                </form>
            </span>
            <p class="flex center">Packers</p>
        </div>
        <div>
            <span class="category-img flex center px-1 py-2">
                <form action="/services/food" method="get">
                    <button class="service-btn"><img src="/food.png" alt=""></button>
                </form>
            </span>
            <p class="flex center">Food</p>
        </div>
        <div>
            <span class="category-img flex center px-1 py-2">
                <form action="/services/housekeeping" method="get">
                    <button class="service-btn"><img src="/housekeeping.webp" alt=""></button>
                    </form>
            </span>
            <p class="flex center">Housekeeping</p>
        </div>
        <div>
            <span class="category-img flex center px-1 py-2">
                <form action="/services/beauty" method="get">
                    <button class="service-btn"><img src="/beauty&spa.webp" alt=""></button>
                </form>
            </span>
            <p class="flex center">Beauty</p>
        </div>
        <div>
            <span class="category-img flex center px-1 py-2">
                <form action="/services/driver" method="get">
                    <button class="service-btn"><img src="/driver.webp" alt=""></button>
                </form>
            </span>
            <p class="flex center">Driver</p>
        </div>
        <div>
            <span class="category-img flex center px-1 py-2">
                <form action="/services/repair" method="get">
                    <button class="service-btn"><img src="/repair.webp" alt=""></button>
                </form>
            </span>
            <p class="flex center">Repair</p>
        </div>
        <div>
            <span class="category-img flex center px-1 py-2">
                <form action="/services/pestcontrol" method="get">
                    <button class="service-btn"><img src="/pestcontrol.png" alt=""></button>
                </form>
            </span>
            <p class="flex center">pestcontrol</p>
        </div>
        <div>
            <span class="category-img flex center px-1 py-2">
                <form action="/services/plumber" method="get">
                    <button class="service-btn"><img src="/plumber.webp" alt=""></button>
                </form>
            </span>
            <p class="flex center">Plumber</p>
        </div>
        <div>
            <span class="category-img flex center px-1 py-2">
                <form action="/services/painter" method="get">
                    <button class="service-btn"><img src="/painting.png" alt=""></button>
                </form>
            </span>
            <p class="flex center">Painter</p>
        </div>
        <div>
            <span class="category-img flex center px-1 py-2">
                <form action="/services/waterproofing" method="get">
                    <button class="service-btn"><img src="/waterproofing.png" alt=""></button>
                    </form>
            </span>
            <p class="flex center">Waterproofing</p>
        </div>
        <div>
            <span class="category-img flex center px-1 py-2">
                <img src="/others.webp" alt="">
            </span>
            <p class="flex center">Others</p>
        </div>
    </div>
</section>
