<section class="sec-4 mt-5">
    <div class="slider-container flex space-between mt-3">
        <div class="slider-left-div mt-3">
            <div class="food-service">
                <h2 class="title">Food Services</h2>
                <div class="services flex space-between py-2 mt-1">
                    <span class="img-outer px-1 py-1">
                        <img src="/catering.jpg" alt="" id="first-img">
                        <!-- <p class="mt-1 flex center">Catering</p> -->
                    </span>
                    <span class="img-outer px-1 py-1">
                        <img src="/food-ordering.jpg" alt="" id="mid-img">
                        <!-- <p class="mt-1 flex center">Food ordering</p> -->
                    </span>
                    <span class="img-outer px-1 py-1">
                        <img src="/mess-service.jpg" alt="" id="last-img">
                        <!-- <p class="mt-1 flex center">Mess Services</p> -->
                    </span>
                </div>
            </div>
            <div class="beauty-service">
                <h2 class="font-weight">Beauty Services</h2>
                <div class="services flex space-between py-2 mt-1">
                    <span class="img-outer px-1 py-1">
                        <img src="/makeup.jpg" alt="">
                        <!-- <p class="mt-1 flex center">Makeup</p> -->
                    </span>
                    <span class="img-outer px-1 py-1">
                        <img src="/spa&message.webp" alt="">
                        <!-- <p class="mt-1 flex center">Spa & Message</p> -->
                    </span>
                    <span class="img-outer px-1 py-1">
                        <img src="/hair-stylist.jpg" alt="">
                        <!-- <p class="mt-1 flex center">Hair Stylist</p> -->
                    </span>
                </div>
            </div>
            <div class="repair-service">
                <h2 class="font-weight">Repair Services</h2>
                <div class="services flex space-between py-2 mt-1">
                    <span class="img-outer px-1 py-1">
                        <img src="/car-repair.jpg" alt="">
                        <!-- <p class="mt-1 flex center">Car Repair</p> -->
                    </span>
                    <span class="img-outer px-1 py-1">
                        <img src="/bike-repair.webp" alt="">
                        <!-- <p class="mt-1 flex center">Bike Repair</p> -->
                    </span>
                    <span class="img-outer px-1 py-1">
                        <img src="/ac-repair.jpg" alt="">
                        <!-- <p class="mt-1 flex center">AC Repair</p> -->
                    </span>
                </div>
            </div>
        </div>
        <div class="silder-right-div">
            <div class="service-slider">
                <img class="prev beauty" src="/slider-beauty.png" alt="">
                <img class="current food mt-2 px-2 py-2" src="/slider-food.png" alt="">
                <img class="next repair mt-3 py-3" src="/slider-repair.png" alt="">
            </div>
            <div class="flex">
            <button class="prev-btn flex center mx-1"><ion-icon name="chevron-back-outline"></ion-icon></button>
            <button class="next-btn flex center mx-1"><ion-icon name="chevron-forward-outline"></ion-icon></button>
            </div>
        </div>
    </div>
</section>